---
import type { MetaTagsProps } from './types';

interface Props extends Omit<MetaTagsProps, 'charset' | 'viewport'> {
  charset?: string;
  viewport?: string;
}

const {
  title,
  description,
  canonicalURL,
  charset = 'UTF-8',
  viewport = 'width=device-width, initial-scale=1.0'
} = Astro.props;
---

<meta charset={charset} data-seo="charset" />
<meta name="viewport" content={viewport} data-seo="viewport" />
<title data-seo="title">{title}</title>
<meta name="description" content={description} data-seo="description" />
<link rel="canonical" href={canonicalURL} data-seo="canonical" />
<slot name="prepend" />
<slot />